.rsimple-socialmedia .form{
	display: block;
	border-top: 1px dashed #dedede;
	margin-top:10px;
	padding-top: 10px;
}
.rsimple-socialmedia .form:first-child{
	border: none;
	margin-top: 0;
}
.rsimple-socialmedia label{
	display: block;
	font-weight: 700;	
}
.rsimple-socialmedia input{
	width: 100%;
	height: 30px;
}